<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="SERVER=LAPTOP-6Q2PSGV9;DATABASE=DBBanano;INTEGRATED SECURITY=true"/>
		</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>